# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Expo
.expo/
.expo-shared/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
lerna-debug.*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Misc
*.log
*.tsbuildinfo
.env
.env.local
.env.*.local
